.cadastro-cliente-form {
  background-color: #f9f9f9; /* Cor de fundo suave */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  font-family: Arial, sans-serif;
  max-width: 500px; /* Limita a largura da caixa */
  margin: auto; /* Centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos dentro da caixa */
}

.cadastro-cliente-titulo {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Botão ocupa toda a largura */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.alert {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .cadastro-cliente-form {
    padding: 15px;
  }

  .cadastro-cliente-titulo {
    font-size: 1.5rem;
  }
}

.MuiGrid-root {
  display: flex;
  justify-content: center;
}